@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold-Normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
  color: inherit;
}

input,
textarea {
  caret-color: currentColor;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 1;
}

textarea {
  resize: vertical;
}

a[href]:focus-visible,
button:focus-visible {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  font-size: inherit;
  background: none;
}

button:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

ul,
ul li,
ol,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

dialog {
  position: fixed;
  inset: 0;
  z-index: 100;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}

dialog[open] {
  opacity: 1;
  visibility: visible;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.swiper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ibg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ibg img,
.ibg iframe {
  position: absolute;
  inset: 0;
  z-index: -2;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  outline-offset: 0;
}

/*
 * Copyright (c) 2024 Javid Gulmaliyev
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

/**
 * SCSS function responsive-value.
 * It is intended to handle responsive CSS property values without using media queries
 *
 * @access public
 * @author Javid Gulmaliyev
 *
 * @param {number} $start-value - The initial value of the property. Accepts only numeric values without units. Cannot be equal to $end-value.
 * @param {number} $end-value - The final value of the property. Accepts only numeric values without units. Cannot be equal to $start-value.
 * @param {number} $start-breakpoint - The initial breakpoint. At this breakpoint, the property value will be equal to $start-value. Accepts only positive numeric values without units. Cannot be less than or equal to $end-breakpoint.
 * @param {number} $end-breakpoint - The final breakpoint. At this breakpoint, the property value will be equal to $end-value. Accepts only positive numeric values or 0 (zero) without units. Cannot be greater than or equal to $start-breakpoint.
 * @param {string} $behavior - Accepts 4 values:
 *   - "not-fixed": The $start-value and $end-value properties are not fixed before and after breakpoints.
 *   - "fixed-both": The $start-value and $end-value properties are strictly fixed before and after breakpoints.
 *   - "fixed-start-value": At this value, $start-value is strictly fixed before $start-breakpoint. Default value.
 *   - "fixed-end-value": At this value, $end-value is strictly fixed after $end-breakpoint.
 * @param {string} $unit - CSS unit for numeric values. Default is "px". When changing the unit, $start-value, $end-value, $start-breakpoint, and $end-breakpoint should be written in the format of the specified unit.
 *
 * @return {string} One of the CSS mathematical functions: min(), max(), clamp().
 *
 * @example
 * .element {
 *     font-size: responsive-value(2, 1, 48, 23.4375, "fixed-both", "rem");
 *     padding: responsive-value(20, 10, 768, 375, "fixed-end-value", "px");
 *     margin-bottom: responsive-value(30, 15, 1440, 280);
 * }
 *
 * @throw {error} If $start-value, $end-value, $start-breakpoint, or $end-breakpoint are not numeric or have units.
 * @throw {error} If $start-value and $end-value are equal.
 * @throw {error} If $start-breakpoint is less than or equal to zero.
 * @throw {error} If $end-breakpoint is a negative number.
 * @throw {error} If $start-breakpoint is less than $end-breakpoint.
 * @throw {error} If $start-breakpoint is equal to $end-breakpoint.
 * @throw {error} If the value of $behavior is incorrect.
 */

.h2 {
  font-weight: 600;
  font-size: min(32px, 28px + 4 * ((100vw - 375px) / 985));
  line-height: var(--h2-line-height, 1);
}

.application-button {
  --outline-color: #fcfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
  column-gap: 16px;
  min-block-size: 48px;
  padding-block: 4px;
  padding-inline: 20px 4px;
  font-weight: 500;
  line-height: 1.6;
  color: #252626;
  background-color: #fcfdfd;
  border-radius: 24px;
}

.application-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  inline-size: 40px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: #fff;
  background-color: #252626;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.application-button__icon svg {
  transform: rotate(-90deg);
}

.product-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  font-weight: 500;
  line-height: 1.6;
  color: #202521;
  transition-property: color;
  transition-duration: 0.3s;
}

.product-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  inline-size: 40px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: #252626;
  background-color: #f3f4f3;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.product-link__icon svg {
  transform: rotate(-135deg);
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6px;
  column-gap: 6px;
  min-block-size: 48px;
  padding-block: 5px;
  padding-inline: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #202521;
  background-color: #fcfdfd;
  border-radius: 24px;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.more-button__icon {
  font-size: 0;
  color: #252626;
  transition-property: color;
  transition-duration: 0.3s;
}

.product-card {
  block-size: 100%;
  padding-block: 24px 16px;
  padding-inline: 16px;
  background-color: #fcfdfd;
  border-radius: 32px;
}

.product-card__header {
  margin-block-end: min(20px, 10px + 10 * ((100vw - 375px) / 985));
  text-align: center;
  color: #181b19;
}

.product-card__title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-weight: 600;
  font-size: min(20px, 14px + 6 * ((100vw - 375px) / 985));
  line-height: 1.1;
  overflow: hidden;
}

.product-card__title a {
  transition-property: color;
  transition-duration: 0.3s;
}

.product-card__info {
  margin-block-start: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.3;
}

.product-card__image {
  display: block;
  margin-block-end: min(24px, 15px + 9 * ((100vw - 375px) / 985));
  aspect-ratio: 259/180;
  border-radius: 16px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: min(40px, 30px + 10 * ((100vw - 375px) / 985));
  padding-block: 5px;
  padding-inline: 10px;
  font-weight: 500;
  font-size: min(16px, 12px + 4 * ((100vw - 375px) / 985));
  line-height: 1.6;
  white-space: nowrap;
  color: #fcfdfd;
  background-color: #2f8d76;
  border-radius: 90px;
}

.product-card__price span::after {
  content: attr(data-per);
  font-size: 10px;
}

html {
  scroll-padding-block-start: var(--header-height);
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #252626;
  background-color: #fcfdfd;
}

.scroll-lock body {
  overflow: hidden;
}

.container {
  max-inline-size: 1360px;
  margin-inline: auto;
  padding-inline: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: hidden;
}

.header {
  block-size: var(--header-height, min(100px, 80px + 20 * ((100vw - 375px) / 985)));
  font-weight: 500;
  line-height: 1.6;
  color: #202521;
}

.header__wrapper {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 50;
  background-color: #fcfdfd;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 24px;
  column-gap: 24px;
  min-block-size: min(100px, 80px + 20 * ((100vw - 375px) / 985));
  padding-block: 10px;
  transition-property: min-block-size;
  transition-duration: 0.3s;
}

.header__button {
  --outline-color: #252626;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 48px;
  padding-block: 5px;
  padding-inline: 20px;
  color: #fcfdfd;
  background-color: #2f8d76;
  border-radius: 24px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.header-logo {
  flex: 0 0 auto;
  font-size: 0;
}

.header-logo__image {
  display: block;
}

.header-contacts {
  display: flex;
  justify-content: end;
  align-items: center;
  -moz-column-gap: 16px;
  column-gap: 16px;
  flex: 1 1 auto;
}

.header-mail {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
  column-gap: 6px;
  transition-property: color;
  transition-duration: 0.3s;
}

.header-mail__text {
  border-block-end: 1.4px solid;
}

.header-mail__icon {
  font-size: 0;
  color: #252626;
  transition-property: color;
  transition-duration: 0.3s;
}

.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  min-block-size: 48px;
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 24px;
  background-color: #f3f4f3;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.header-tel::after {
  content: "";
  inline-size: 9px;
  aspect-ratio: 1/1;
  font-size: 0;
  background-color: #51d66a;
  border-radius: 50%;
}

.burger-button {
  --outline-color: #252626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  inline-size: 48px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: #fcfdfd;
  background-color: #2f8d76;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.main {
  flex: 1 1 auto;
}

.footer {
  padding-block: min(70px, 26px + 44 * ((100vw - 375px) / 985)) min(32px, 20px + 12 * ((100vw - 375px) / 985));
  font-weight: 500;
  line-height: 1.6;
  color: #fcfdfd;
  background-color: #1d5849;
  border-start-start-radius: 32px;
  border-start-end-radius: 32px;
}

.footer__inner {
  display: grid;
  gap: 50px;
}

.footer__copy {
  margin-block-start: min(71px, 51px + 20 * ((100vw - 375px) / 985));
  font-size: 12px;
  line-height: 1.3;
  color: #d7dcd9;
}

.footer-nav {
  font-size: min(16px, 12px + 4 * ((100vw - 280px) / 95));
}

.footer-nav__list {
  display: grid;
  row-gap: max(1.375em, 1.875em + -0.5 * ((100vw - 375em) / 985));
  -moz-column-gap: min(55px, 30px + 25 * ((100vw - 375px) / 985));
  column-gap: min(55px, 30px + 25 * ((100vw - 375px) / 985));
}

.footer-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 11px;
  column-gap: 11px;
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-link__icon {
  font-size: 0;
  transform: rotate(-135deg);
}

.footer-address {
  display: flex;
  align-items: start;
  gap: 16px;
}

.footer-address__hours {
  max-inline-size: 141px;
  padding-block-start: 3px;
}

.footer-contacts__item:not(:last-child) {
  margin-block-end: 8px;
}

.footer-tel {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-tel::after {
  content: "";
  inline-size: 8px;
  aspect-ratio: 1/1;
  font-size: 0;
  background-color: #51d66a;
  border-radius: 50%;
}

.footer-mail {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 0.3s;
}

.footer-mail__text {
  border-block-end: 1.4px solid;
}

.footer-mail__icon {
  font-size: 0;
}

.up {
  --outline-color: #252626;
  position: fixed;
  inset-block-end: 20px;
  inset-inline-end: calc(20px + var(--scrollbar-width, 0px));
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 48px;
  aspect-ratio: 1/1;
  font-size: 0;
  color: #fcfdfd;
  background-color: #2f8d76;
  border-radius: 50%;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s;
}

.up:focus-visible {
  box-shadow: 0 0 0 1px #fcfdfd;
}

html:not(.scrolled) .up {
  opacity: 0;
  visibility: hidden;
}

.up svg {
  transform: rotate(180deg);
}

.application {
  padding-block: min(70px, 20px + 50 * ((100vw - 375px) / 985)) min(110px, 40px + 70 * ((100vw - 375px) / 985));
}

.application__inner {
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
  gap: min(60px, 18px + 42 * ((100vw - 375px) / 985));
  padding-block: min(83px, 40px + 43 * ((100vw - 375px) / 985));
  padding-inline: clamp(20px, 20px + 28 * ((100vw - 992px) / 368), 48px) min(20px, max(20px + -20 * ((100vw - 992px) / 368), 0px));
  color: #fff;
  background-color: #1d5849;
  border-radius: 32px;
}

.application__title {
  max-inline-size: 523px;
  margin-block-end: max(10px, 20px + -10 * ((100vw - 375px) / 985));
}

.application__text {
  max-inline-size: 335px;
  font-size: 20px;
}

.application__whatsapp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 6px;
  color: currentColor;
  background-color: #51d66a;
  border-radius: 90px;
}

.application__image {
  grid-row: span 2;
  aspect-ratio: 690/346;
}

.application__button {
  justify-self: center;
}

.application__pattern {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 6.1363636364%;
  z-index: -1;
  inline-size: 40.6060606061%;
  aspect-ratio: 536/162;
  opacity: 0.15;
}

.application__pattern img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.installation {
  padding-block: min(110px, 40px + 70 * ((100vw - 375px) / 985));
}

.installation__inner {
  max-inline-size: 1224px;
  margin-inline: auto;
}

.installation__header {
  display: flex;
  gap: 30px;
}

.installation__title {
  --h2-line-height: 1.1;
  max-inline-size: 603px;
}

.installation__image {
  inline-size: 100%;
  max-inline-size: 65.9701492537%;
  aspect-ratio: 392/198;
  border-radius: min(24px, 16px + 8 * ((100vw - 375px) / 985));
}

.installation-content {
  display: grid;
  gap: min(40px, 30px + 10 * ((100vw - 375px) / 985));
}

.installation-content__image {
  aspect-ratio: 392/198;
  border-radius: min(24px, 16px + 8 * ((100vw - 375px) / 985));
}

.installation-texts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 240px + 10 * ((100vw - 375px) / 985)), 1fr));
  align-items: end;
  gap: min(20px, 10px + 10 * ((100vw - 375px) / 985));
  counter-reset: installation-list;
}

.installation-texts__item {
  display: grid;
  gap: 16px;
  padding: 16px;
  border: 1px solid;
  border-radius: 24px;
}

.installation-texts__item::before {
  content: "0" counter(installation-list);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 40px;
  aspect-ratio: 1/1;
  font-weight: 500;
  font-size: 18px;
  color: #202521;
  border: 1.6px solid #202521;
  border-radius: 50%;
  counter-increment: installation-list;
}

.related {
  padding-block: min(110px, 40px + 70 * ((100vw - 375px) / 985)) min(70px, 40px + 30 * ((100vw - 375px) / 985));
}

.related__inner {
  padding-block: min(64px, 40px + 24 * ((100vw - 375px) / 985));
  padding-inline: clamp(20px, 20px + 28 * ((100vw - 992px) / 368), 48px);
  background-color: #f3f4f3;
  border-radius: 32px;
}

.related__title {
  --h2-line-height: 1.1;
  margin-block-end: min(40px, 30px + 10 * ((100vw - 375px) / 985));
}

.related__more {
  margin-block-start: min(40px, 30px + 10 * ((100vw - 375px) / 985));
  margin-inline: auto;
}

.related-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(290px, 160px + 130 * ((100vw - 375px) / 985)), 1fr));
  gap: min(20px, 10px + 10 * ((100vw - 375px) / 985));
}

.deadlines {
  padding-block: min(70px, 40px + 30 * ((100vw - 375px) / 985));
}

.deadlines__inner {
  display: grid;
  row-gap: 30px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-inline-size: 1272px;
  margin-inline-start: auto;
}

.deadlines__title {
  --h2-line-height: 1.1;
  padding-block-start: clamp(0px, 0px + 40 * ((100vw - 768px) / 592), 40px);
}

.deadlines__title span {
  display: block;
}

.deadlines__map {
  grid-row: span 2;
}

.deadlines-map {
  position: relative;
  isolation: isolate;
  min-block-size: min(317px, 306px + 11 * ((100vw - 375px) / 985));
  padding: min(32px, 20px + 12 * ((100vw - 375px) / 985));
  background-color: #f3f4f3;
  border: 0.4px solid #eef0ef;
  border-radius: 32px;
}

.deadlines-map__list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.deadlines-map__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 42px;
  padding-block: 5px;
  padding-inline: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: #202521;
  background-color: #fff;
  border: 0.4px solid #f3f4f3;
  border-radius: 24px;
}

.deadlines-map__image {
  position: absolute;
  inset-block: max(33px, 108px + -75 * ((100vw - 375px) / 985)) max(10px, 20px + -10 * ((100vw - 375px) / 985));
  inset-inline: min(87px, 16px + 71 * ((100vw - 375px) / 985));
  z-index: -1;
}

.deadlines-map__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.deadlines-texts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(296px, 240px + 56 * ((100vw - 375px) / 985)), 1fr));
  gap: min(20px, 10px + 10 * ((100vw - 375px) / 985));
}

.deadlines-texts__item {
  display: grid;
  grid-template-columns: 1fr 40px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  padding-block: 16px;
  padding-inline: 24px 16px;
  background-color: #f3f4f3;
  border-radius: 24px;
}

.deadlines-texts__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  font-size: 0;
  aspect-ratio: 1/1;
  color: #1d5849;
  background-color: #7ae08d;
  border-radius: 50%;
}

.produce {
  padding-block: min(70px, 40px + 30 * ((100vw - 375px) / 985));
}

.produce__inner {
  position: relative;
  isolation: isolate;
  display: grid;
  row-gap: min(48px, 30px + 18 * ((100vw - 375px) / 985));
  -moz-column-gap: min(40px, 30px + 10 * ((100vw - 375px) / 985));
  column-gap: min(40px, 30px + 10 * ((100vw - 375px) / 985));
  padding-block: 48px;
  padding-inline: clamp(20px, 20px + 28 * ((100vw - 375px) / 985), 48px);
  background-color: #f3f4f3;
  border-radius: 32px;
  overflow: hidden;
}

.produce__title {
  --h2-line-height: 1.1;
}

.produce__text {
  font-size: 22px;
  line-height: 1.2;
}

.produce__image {
  aspect-ratio: 592/263;
  border-radius: 24px;
}

.produce__pattern {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: -1;
}

.produce__pattern img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.produce__pattern--pc {
  aspect-ratio: 1321/401;
}

.produce__pattern--mob {
  aspect-ratio: 335/304;
}

.produce-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(18px, 10px + 8 * ((100vw - 375px) / 985));
}

.produce-gallery__image {
  display: block;
  aspect-ratio: 185/263;
}

.contacts {
  padding-block: min(70px, 40px + 30 * ((100vw - 375px) / 985));
}

.contacts__inner {
  position: relative;
  isolation: isolate;
  padding-block: min(64px, 40px + 24 * ((100vw - 375px) / 985));
  padding-inline: clamp(20px, 20px + 28 * ((100vw - 992px) / 368), 48px);
  background-color: #1d5849;
  border-radius: 32px;
  overflow: hidden;
}

.contacts__title {
  --h2-line-height: 1.1;
  margin-block-end: 40px;
  color: #fff;
}

.contacts__list {
  margin-block-end: 40px;
}

.contacts__image {
  aspect-ratio: 292/358;
}

.contacts__image img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
}

.contacts__pattern {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: -2;
  opacity: 0.15;
}

.contacts__pattern img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.contacts__pattern--pc {
  inline-size: 30.1060606061%;
  aspect-ratio: 397.4/284.54;
}

.contacts__pattern--mobile {
  inset-inline-start: 0;
  aspect-ratio: 375/228.94;
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(290px, 240px + 50 * ((100vw - 375px) / 985)), 1fr));
  gap: min(20px, 10px + 10 * ((100vw - 375px) / 985));
  color: #fcfdfd;
  counter-reset: contacts-list;
}

.contacts-list__item {
  display: grid;
  grid-template-rows: minmax(40px, auto) 1fr;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 16px;
  min-block-size: 186px;
  padding-block: 16px 8px;
  padding-inline: 16px;
  background-color: #143c32;
  border-radius: 24px;
}

.contacts-list__item::before {
  content: "0" counter(contacts-list);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  font-weight: 500;
  font-size: 18px;
  border: 1.6px solid;
  border-radius: 50%;
  counter-increment: contacts-list;
}

.contacts-list__text--bolder {
  font-weight: 500;
  line-height: 1.6;
}

.contacts-list__image {
  grid-column: span 2;
  justify-self: center;
  inline-size: 100%;
  max-inline-size: calc(var(--width) * 1px);
  aspect-ratio: var(--width)/var(--height);
}

.contacts-list__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.faq {
  padding-block: min(70px, 40px + 30 * ((100vw - 375px) / 985)) min(140px, 80px + 60 * ((100vw - 375px) / 985));
}

.faq__title {
  --h2-line-height: 1.1;
  margin-block-end: min(40px, 30px + 10 * ((100vw - 375px) / 985));
}

.faq-spoilers {
  counter-reset: faq-list;
}

.faq-spoilers__item {
  background-color: #f3f4f3;
  border-radius: 24px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.faq-spoilers__item.spoiler-active {
  background-color: #d4f5da;
}

.faq-spoilers__item:not(:last-child) {
  margin-block-end: 10px;
}

.faq-spoilers__inner {
  max-inline-size: 900px;
  padding-block-end: clamp(16px, 16px + 16 * ((100vw - 375px) / 985), 32px);
  padding-inline: clamp(16px, 16px + 46 * ((100vw - 375px) / 985), 62px);
}

.faq-button {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  inline-size: 100%;
  min-block-size: min(112px, 84px + 28 * ((100vw - 375px) / 985));
  padding-block: clamp(16px, 16px + 16 * ((100vw - 375px) / 985), 32px);
  padding-inline: clamp(16px, 16px + 16 * ((100vw - 375px) / 985), 32px);
  font-weight: 500;
  font-size: min(20px, 16px + 4 * ((100vw - 375px) / 985));
  line-height: 1.6;
  text-align: start;
}

.faq-button__text {
  display: flex;
  align-items: start;
  -moz-column-gap: 5px;
  column-gap: 5px;
  flex: 1 1 auto;
}

.faq-button__text::before {
  content: counter(faq-list) ". ";
  counter-increment: faq-list;
}

.faq-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  inline-size: 48px;
  aspect-ratio: 1/1;
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.faq-button__icon svg {
  transition-property: transform;
  transition-duration: 0.3s;
}

.spoiler-active .faq-button__icon svg {
  transform: rotate(180deg);
}

@media (min-width: 501px) {
  .footer__inner {
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 701px) {
  .footer-nav__list {
    grid-template-rows: repeat(var(--footer-nav-rows, 3), auto);
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
  }
}

@media (min-width: 769px) {
  .product-card__info--hide {
    display: none;
  }

  .scrolled .header__inner {
    min-block-size: 0;
  }

  .burger-button {
    display: none;
  }

  .installation__image {
    max-inline-size: min(392px, 221px + 171 * ((100vw - 375px) / 985));
  }

  .installation-content {
    grid-template-columns: 1fr min(392px, 221px + 171 * ((100vw - 375px) / 985));
  }

  .deadlines__inner {
    grid-template-rows: 1fr auto;
    grid-template-columns: 0.9776357827fr 1.0223642173fr;
  }

  .produce__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .produce__text--hide-pc {
    display: none;
  }

  .produce__pattern--mob {
    display: none;
  }

  .contacts__image {
    position: absolute;
    inset-block: 25% 0;
    inset-inline-end: 7px;
    z-index: -1;
    aspect-ratio: 365/477;
  }

  .contacts__image--mobile {
    display: none;
  }

  .contacts__pattern--mobile {
    display: none;
  }

  .contacts-list {
    max-inline-size: 50%;
  }
}

@media (min-width: 993px) {
  .footer__inner {
    grid-template-columns: 1fr auto;
    align-items: end;
  }

  .application__inner {
    grid-template-columns: 0.8630363036fr 1.1369636964fr;
  }

  .application__content {
    align-self: end;
  }

  .application__button {
    justify-self: start;
    align-self: start;
  }

  .contacts-list {
    max-inline-size: 74.3464052288%;
  }
}

@media (min-width: 1201px) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer-nav {
    padding-block-start: 5px;
  }

  .footer-address {
    padding-block-start: 6px;
  }
}

@media (min-width: 1301px) {
  .contacts__image {
    inset-block: 0;
  }
}

@media (min-width: 1361px) {
  .installation-content__image {
    align-self: end;
  }
}

@media (max-width: 1360px) {
  .installation__header {
    margin-block-end: min(20px, 11px + 9 * ((100vw - 375px) / 985));
  }
}

@media (max-width: 992px) {
  .product-link__text {
    display: none;
  }

  .footer__nav {
    order: 1;
  }

  .application__inner {
    margin-inline: -20px;
  }

  .application__pattern {
    display: none;
  }

  .related__inner {
    margin-inline: -20px;
  }

  .contacts__inner {
    margin-inline: -20px;
  }
}

@media (max-width: 768px) {
  .header__button {
    display: none;
  }

  .header-contacts {
    display: none;
  }

  .footer {
    padding-block-end: 88px;
  }

  .installation__header {
    flex-direction: column;
  }

  .installation-content__texts {
    order: 1;
  }

  .installation-content__image {
    inline-size: 100%;
    max-inline-size: 65.9701492537%;
    margin-inline-start: auto;
  }

  .produce__text span {
    display: none;
  }

  .produce__pattern--pc {
    display: none;
  }

  .contacts__inner {
    padding-block-end: 0;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__button {
    margin-inline: auto;
  }

  .contacts__image {
    max-inline-size: 292px;
    margin-block-start: 3px;
    margin-inline: auto;
  }

  .contacts__image--pc {
    display: none;
  }

  .contacts__pattern--pc {
    display: none;
  }

  .contacts-list__text--bolder-mobile {
    font-weight: 500;
    line-height: 1.6;
  }
}

@media (max-width: 374px) {
  .footer-address {
    flex-direction: column;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .footer__nav {
    grid-row: span 2;
  }
}

@media (max-width: 992px) and (min-width: 501px) {
  .footer__nav {
    grid-column: span 2;
  }
}

@media (hover: hover) {
  a[href]:hover,
  button:hover {
    outline: none;
  }

  .application-button:hover .application-button__icon {
    background-color: #51d66a;
  }

  .product-link:hover {
    color: #51d66a;
  }

  .product-link:hover .product-link__icon {
    color: #fcfdfd;
    background-color: #51d66a;
  }

  .more-button:hover {
    color: #fcfdfd;
    background-color: #51d66a;
  }

  .more-button:hover .more-button__icon {
    color: #fcfdfd;
  }

  .product-card__title a:hover {
    color: #51d66a;
  }

  .header__button:hover {
    background-color: #51d66a;
  }

  .header-mail:hover {
    color: #51d66a;
  }

  .header-mail:hover .header-mail__icon {
    color: #51d66a;
  }

  .header-tel:hover {
    color: #fcfdfd;
    background-color: #2f8d76;
  }

  .burger-button:hover {
    background-color: #51d66a;
  }

  .footer-link:hover {
    color: #51d66a;
  }

  .footer-tel:hover {
    color: #51d66a;
  }

  .footer-mail:hover {
    color: #51d66a;
  }

  .up:hover {
    background-color: #51d66a;
  }

  .faq-button:hover .faq-button__icon {
    color: #fcfdfd;
    background-color: #51d66a;
  }
}

@media (hover: none) {
  a[href]:active,
  button:active {
    outline: none;
    opacity: 0.5;
  }
}